@import
url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import
url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;400;600&display=swap');
:root {
--light-black: #333333;
--black: #000000;
--red: #c82113;
--dark-red: #94180e;
--blue: #1085df;
--light-blue: #0e5a94;
}


#logo {
    left: 33%;
    bottom: 100px;
    position: absolute;
    align-items: center;
    z-index: 1;
    margin: 20px;
}

#background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header{
    background-color: var(--black);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
body h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: var(--red);
    margin: 20px;
}
nav {
    padding: 10px;
    height: 25px;
    background-color: var(--black);
}
nav ul {
display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;

} nav ul a {
text-decoration: none;
color: white;
}
nav a:hover {
    color: var(--blue);
}
#article-s {
    display: grid;
   grid-template-columns: repeat(2, 3fr);
    margin: 10px;
    padding: 10px;
   place-items: start center;
}
#article-s h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: var(--black);
}
#article-s a {
    text-decoration: none;
    color: var(--black);
    list-style: none;

}
#article-s p {
    width: 50%;
    font-size: 18px;
  
}


#galleri {
   display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: start center;
    margin-bottom: 100px;
    gap: 20px;
}

.galleri-img {
  width: 100%;
  height: 100%;
}
#favorit { 
    display: flex;
    justify-content: center;
}
#favorit section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    place-items: start center;
   
}
#favorit section img {
  width: 23vw;
  height: 23vw;
}
#favorit #mainImage {
    width: 46vw;
    height: 46vw;
}

footer {
    background-color: var(--light-black);
    color: white;
    display: grid;
   grid-template-columns: repeat(3, 2fr);
    margin: 20px;
    padding: 20px;
   place-items: start center;
   gap: 500px;
  
}
footer h2 {
    color: var(--blue);
}
footer span {
    color: var(--red);
}
#liks-sc {
    display: flex;
    gap: 20px;
 margin: 30px;
}
#liks-sc img {
    width: 5vw;
    height: 5vw;
}
